.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 20px;
  }

  .grid-controls{
    color: red;
  }

  .news-grid-navigation {
    display: flex;
    justify-content: space-between;
    margin: 10rem 15rem 0rem 15rem;
    padding: 1rem 2rem;
    // background-color: red
  }
  
  .navigation {
    // background-color: red;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0px 30rem;

    @media (max-width: 1025px) {
      margin: 0px 10rem
      }
  }
  
  .news-grid-navigation a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .grid-container{
align-self: center;
padding: 0px 13rem;

@media (max-width: 1025px) {
  padding: 0px
  
  }
  }
  
  
  
  