.rs-container{
    margin: 5% 0% 7% 0%;
    }
    
    .rs-title-reg{
        align-self: center;
        // background-color: red;
        font-size: x-large;
        margin-left: 62rem;
        margin-top: 10px;
        
    }

    .rs-form-style{
        width: 30%;
        height:70vh;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .rs-btn-container{
        padding:0% 2%;
        margin-right: 1%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:140%;
        margin-top: 3%;

        :hover{
            background-color: rgb(236, 191, 107);
        }
    }